//Color Pallete
$venice-blue: #355070
$purp: #6d597a
$tapestry: #b56576
$pink-red: #e56b6f
$orange: #eaac8b
$isabelline: #f0efeb
$poutPorri: #eddcd2

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  background-color: $poutPorri
  display: flex
  // justify-content: center
  // align-items: center

::-webkit-scrollbar
  display: none

#sideFlowr
  position: absolute
  padding: 2em
  width: 45vw
  height: 110vh
  position: fixed

#sideFlowr path
  stroke-dasharray: 44828px
  stroke-dashoffset: 44768px

.text
  display: grid
  grid-template-columns: 1fr 1fr
  margin: 20vh 10vw 0 0vw
  text-align: center
  p
    grid-column: 2
    font-family: Tangerine
    font-size: 30px
